extends layout

block content
  img#target(src='https://media.tenor.com/images/938c2c961d67096c2fa46edc0c579d3b/tenor.gif' style='width:300px; height:300px;')

  script(type='text/javascript').
    var INTERVAL = 2000;

    function showMessage(message) {
      var el = document.getElementById("target");
      el.src = message;
    }

    async function subscribe() {
      let response = await fetch("/subscribe");

      if (response.status == 502) {
        // Status 502 is a connection timeout error,
        // may happen when the connection was pending for too long,
        // and the remote server or a proxy closed it
        // let's reconnect
        await subscribe();
      } else if (response.status != 200) {
        // An error - let's show it
        showMessage(response.statusText);
        // Reconnect in one second
        await new Promise(resolve => setTimeout(resolve, INTERVAL));
        await subscribe();
      } else {
        // Get and show the message
        let message = await response.json();
        showMessage(message.image);
        await new Promise(resolve => setTimeout(resolve, INTERVAL));
        // Call subscribe() again to get the next message
        await subscribe();
      }
    }

    subscribe();
